name: 'Main'

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'

jobs:
  build-and-test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '24'
          registry-url: https://registry.npmjs.org/
      - run: |
          npm ci
          npm install
          npm run prep
        env:
          PARTNER_CENTER_TENANT_ID: ${{secrets.TENANT_ID}}
          PARTNER_CENTER_CLIENT_ID: ${{secrets.CLIENT_ID}}
          PARTNER_CENTER_CLIENT_SECRET: ${{secrets.CLIENT_SECRET}}
          PARTNER_CENTER_APP_ID: ${{secrets.DVLUP_PWA_APP_ID}}