name: Publish Packages

on:
  workflow_dispatch:

permissions:
  id-token: write # for npm OIDC
  contents: write # for github releases
  packages: write # for github package registry

jobs:
  test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '24'

      - run: |
          npm ci
          npm install
          npm run prep

  publish-gpr:
    name: Publish to npm.pkg.github.com
    needs: test
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '24'
          registry-url: https://npm.pkg.github.com/

      - name: Publish
        run: |
          npm ci
          npm install
          npm run publish

      - id: package-version
        run: echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          name: partner-center-broker-v${{steps.package-version.outputs.version}}
          path: partner-center-broker-${{steps.package-version.outputs.version}}.tgz

      - name: Create GitHub release
        id: create-release
        uses: actions/create-release@v1
        with:
          tag_name: v${{steps.package-version.outputs.version}}
          release_name: v${{steps.package-version.outputs.version}}
          draft: false
          prerelease: false

      - name: Upload package to release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{steps.create-release.outputs.upload_url}}
          asset_path: partner-center-broker-${{steps.package-version.outputs.version}}.tgz
          asset_name: partner-center-broker-${{steps.package-version.outputs.version}}.tgz
          asset_content_type: application/gzip

  publish-npm:
    name: Publish to npmjs.org
    needs: [test, publish-gpr]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '24'
          registry-url: https://registry.npmjs.org/

      - name: Publish
        run: |
          npm ci
          npm install
          npm run publish   # OIDC is configured in npmjs.org