name: Package And Distribute

on:
  push:
    branches:
      - 'releases/*'
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'

permissions:
  id-token: write  # npm OIDC
  contents: read

jobs:
# Verify everything builds and tests pass before we run any publishing steps
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '24'
      - run: |
          npm ci
          npm install
          npm run prep

  publish-npm:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '24'
          registry-url: https://registry.npmjs.org/
      - run: |
          npm ci
          npm install
          npm run publish   # OIDC is configured in npmjs.org

  publish-gpr:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '24'
          registry-url: https://npm.pkg.github.com/
      - run: |
          npm ci
          npm install
          npm run publish  # still need to use GITHUB_TOKEN
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - id: package-version
        run: echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          name: partner-center-broker-v${{steps.package-version.outputs.version}}
          path: partner-center-broker-${{steps.package-version.outputs.version}}.tgz